autotools-dev
build-essential
zlib1g-dev
libjpeg-dev
python-m2crypto
exif
libimage-exiftool-perl
swig
python-progressbar
python-pip
libffi-dev
libsasl2-dev
libldap2-dev
libzmq3-dev
python-zmq
python-gevent
python-pexpect
python-ipy
python-m2crypto
python-pyclamd
liblzma5
python-msgpack
libfuzzy-dev
python-cffi
python-dev
unzip
zip
git
libtool
autoconf
jq 
libmilter-dev
libtiff5-dev
p7zip-full
unrar
ruby
ruby-dev
bundler
liblzma-dev
automake
make
gcc
cmake
vim
rsync
python-scikits-learn
python-sklearn
python-numpy
python-scipy
libre2-dev
telnet
unace-nonfree
libzbar0
libsnappy-dev
unixodbc-dev
python3-dbg
llvm-10*
perl
openjdk-11-jdk-headless
