file:dependencies/binwalk.tar.gz
file:dependencies/GetNETGUIDs.tar.gz
file:dependencies/redis-py.zip
file:dependencies/python-slimta.zip
file:dependencies/castleblack.tar.gz
pefile
bcrypt
biplist
beautifulsoup4
cffi
# aids beautiful soup in detecting character sets
chardet
cryptography>=3.3
fluent-logger
future
gevent
greenlet
interruptingcow
ipaddress
IPy
msgpack-python
nose
nose2
numpy
olefile
pexpect
progressbar33
ptyprocess
pyClamd
pycparser
pyexiftool<=0.4.13
pylzma
pymilter
python-dateutil
python-snappy
pytz
pyzmq
rarfile
requests
six
ssdeep
svn
tnefparse
typing
yara-python
Flask
oletools
pdfminer.six
watchdog
macholib
pyparsing
geoip2
pymemcache
scipy
scikit-learn
nltk
backports.lzma
minio
mock
pycdlib
splunk-sdk
defusedxml
msoffcrypto-tool
lxml
pyzbar
LnkParse3
M2Crypto
extract-msg
natsort
pyaio
# requirements for lb-storage-module-which-uses the venv
pyOpenSSL
ndg-httpsclient
pyasn1
Flask-SQLAlchemy
flask_bootstrap
SQLAlchemy
python-ldap<3.4
python-gitlab
gunicorn
psutil
psycopg2-binary
Werkzeug
python-jose
remote-pdb
gitpython
flask-cors
jinja2
pyminizip
pandas
pyodbc
flake8
shap
pip-tools
passlib
javatools
